input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
    width: 60px;
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

td.box {
 padding-right: 30px;
}

td {
  white-space: nowrap;
}
